<!DOCTPYE html>
<html>
    <head>
        <title>Schlechte Frage</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        
        <div id="obereLeiste"
             v-if="seen"
             v-bind:user="user"
             v-bind:loggedIn="loggedIn">
            <button id="new-button"
                    v-on:click="newQuestion"
                    v-if="loggedIn">
                Neue Frage erstellen
            </button>
            <button id="log-button" 
                    v-on:click="doLogging">
                Login / Logout
            </button>
            <button id="reg-button" 
                    v-on:click="register"
                    v-if="!loggedIn">
                Registrieren
            </button>
            <h1>Schlechte Frage</h1>
            <filter-selector v-bind:loggedin="loggedIn"></filter-selector>
            <p id="loggedUser" v-if="loggedIn">Willkommen, <b>{{user}}</b></p>
            
        </div>
        <div id="ThreadBereich" v-if="seen">
            <frage v-for="n in questions.length" :key="n.id"
                   v-bind:title="questions[n-1]['title']"
                   v-bind:question="questions[n-1]['text']"
                   v-bind:autor="questions[n-1]['questioner']['username']"
                   v-bind:datum="questions[n-1]['date']"
                   v-bind:id="questions[n-1]['id']"
                   v-bind:userid="questions[n-1]['questioner']['id']"
                   v-bind:solved="questions[n-1]['solved']"
                   v-bind:answers="questions[n-1]['answers']"
                   v-bind:loggedin="loggedIn"></frage>
        </div>
        <div id="newQuestion" v-if="seen">
            <neuef></neuef>
            <br>
            <button v-on:click="submitQuestion">Frage einreichen</button>
        </div>
        <div id="newAnswer" v-if="seen">
            <neuea></neuea>
            <br>
            <button v-on:click="submitAnswer">Antwort einreichen</button>
        </div>
        <div id="login" v-if="seen">
            <login></login>
            <br>
            <button v-on:click="submitLogin">Einloggen</button>
        </div>
        <div id="registration" v-if="seen">
            <registrierung></registrierung>
            <br>
            <button v-on:click="submitRegistration">Registrieren</button>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script type="text/x-template" id="question">
            <div id="question">
                <p><b>{{title}}</b></p>
                <p>{{question}}</p>
                <p><i>{{autor}}</i>, den <i>{{datum}}</i></p>
                <p v-if="solved"><i>Diese Frage wurde bereits beantwortet</i></p>
                <details>
                    <summary>Antworten anzeigen</summary>
                    <antwort v-for="n in answers.length"
                             :key="n.id"
                             v-bind:text="answers[n-1]['text']"
                             v-bind:author="answers[n-1]['answerer']['username']"
                             v-bind:date="answers[n-1]['date']"
                             v-bind:id="answers[n-1]['id']"
                             v-bind:userid="answers[n-1]['answerer']['id']"
                             v-bind:accepted="answers[n-1]['accepted']"
                             v-bind:questionAuthor="autor"></antwort>
                </details>
                <br>
                <button v-on:click="answerTheQuestion" v-if="loggedin">Frage beantworten</button>
                <button v-on:click="deleteTheQuestion" v-if="deletable">Frage Löschen</button>
                <hr>
            </div>
        </script>
        <script type="text/x-template" id="answer">
            <div id="answer">
                <p>{{text}}</p>
                <p><i>{{author}}</i>, den {{date}}</p>
               <input id="answered" type="checkbox" 
                      v-bind:checked="accepted"
                      v-bind:disabled="editable"
                      v-on:click="check">Beantwortet die Frage
                <button v-on:click="deleteTheAnswer"
                        v-if="deletable">Antwort Löschen</button>
                <hr>
            </div>
        </script>
        
        <script>
            Vue.component("filter-selector", {
                props : ['loggedin'],
                template: `
                    <select id="filterSelector" v-on:change="filterSelected">
                        <option>Alle Fragen</option>
                        <option v-if="loggedin">Meine Fragen</option>
                        <option v-if="loggedin">Meine Antworten</option>
                        <option>Unbeantwortete Fragen</option>
                        <option>Ungelöste Fragen</option>
                    </select>
                `,
                methods: {
                    filterSelected: function() {
                        topBar.filterSelect(document.getElementById("filterSelector").selectedIndex)
                    }
                }
            })
            Vue.component('neuef', {
                template: `<div>
                                <p>Titel der Frage:</p>
                                <input type="text" id="newTitle" placeholder="Titel">
                                <br>
                                <p>Frage:</p>
                                <textarea id="newText" placeholder="Frage"></textarea>
                          </div>`          
                          })
            
            Vue.component('neuea', {
                template: `<div>
                                <p>Antwort:</p>
                                <textarea id="answerText" placeholder="Antwort"></textarea>
                          </div>`  
            })
            
            Vue.component('login', {
                template: `<div>
                                <p>Benutzername:</p>
                                <input type="text" id="username" placeholder="Benutzername">
                                <br>
                                <p>Passwort:</p>
                                <input type="text" id="password" placeholder="Passwort">
                          </div>`   
            })
            
            Vue.component('registrierung', {
                template: `<div>
                                <p>Neuer Benutzername:</p>
                                <input type="text" id="newUsername" placeholder="Benutzername">
                                <br>
                                <p>Neues Passwort:</p>
                                <input type="text" id="newPassword" placeholder="Passwort">
                          </div>`   
            })
            
            
            Vue.component('frage', {
                props: ['title', 'question', 'autor', 'datum', 'id', 'userid', 'solved', 'answers', 'loggedin'],
                data: function() {
                    return {
                        deletable : login.user == this.autor
                    }
                },
                template: '#question',
                methods: {
                    answerTheQuestion: function() {
                        newAnswer.id = this.id;
                        mainArea.seen = false;
                        newAnswer.seen = true;
                    },
                    
                    deleteTheQuestion: function() {
                        var out = {"id": this.id};
                        $.ajax({
                            url:'http://localhost:8080/qa/deleteQuestion',
                            type:'DELETE',
                            contentType:'application/json',
                            xhrFields: {
                                withCredentials:true
                            },
                            data:JSON.stringify(out),
                            success: function(x,y,z) {
                                mainArea.updateStuff()
                            },
                            error: function(jqXHR, status, error){
                                console.log(status + " deleteTheQuestion")
                            }
                        });
                    }
                }
            });
            
            
            Vue.component('antwort', {
                props: ['text', 'date', 'author', 'id', 'userid', 'accepted', 'questionAuthor'],
                data: function() {
                    return {
                        editable : true,
                        deletable : false
                    }
                },
                template: '#answer',
                methods: {
                    deleteTheAnswer: function() {
                        var out = {"id": this.id};
                        $.ajax({
                            url:'http://localhost:8080/qa/deleteAnswer',
                            type:'DELETE',
                            contentType:'application/json',
                            xhrFields: {
                                withCredentials:true
                            },
                            data:JSON.stringify(out),
                            success: function() {
                                mainArea.updateStuff()
                            }
                        });
                    },
                    check: function() {
                        var out = {"id": this.id};
                        $.ajax({
                            url:'http://localhost:8080/qa/acceptAnswer',
                            type:'PUT',
                            xhrFields: {
                                withCredentials:true
                            },
                            contentType:'application/json',
                            data:JSON.stringify(out),
                            success:function(){
                                mainArea.updateStuff();
                            },
                            error:function() {
                                console.log("konnte nicht senden: " + JSON.stringify(out))
                            }
                        });
                    }
                },
                created : function() {
                    if (login.user == this.questionAuthor) {
                            this.editable = false
                    } else {
                            this.editable = true
                    }
                    if (login.user == this.author){
                        this.deletable = true
                    } else {
                        this.deletable = false
                    }
                }
            });
            
            var newQuestion = new Vue({
                el: '#newQuestion',
                data: {
                    seen: false
                },
                methods: {
                    submitQuestion: function() {
                        
                        var result = {
                            "title":document.getElementById("newTitle").value, 
                            "text":document.getElementById("newText").value};
                        
                        mainArea.seen = true;
                        newQuestion.seen = false;
                        
                        $.ajax({
                            url:'http://localhost:8080/qa/setQuestion',
                            type:'POST',
                            xhrFields: {
                                withCredentials:true
                            },
                            contentType:'application/json',
                            data:JSON.stringify(result),
                            success:function(){
                                mainArea.updateStuff();
                            },
                            error:function() {
                                console.log("konnte nicht senden: " + JSON.stringify(result))
                            }
                        });
                    }
                }
            });
            
            var newAnswer = new Vue ({
                el: '#newAnswer',
                data: {
                    seen: false,
                    id: 0
                },
                methods: {
                    submitAnswer: function() {
                        
                        var result = {
                            "text": document.getElementById("answerText").value,
                            "question": {"id":this.id}
                                     };
                        
                        mainArea.seen = true;
                        newAnswer.seen = false;
                        
                        $.ajax({
                            url:'http://localhost:8080/qa/setAnswer',
                            type:'POST',
                            xhrFields: {
                                withCredentials:true
                            },
                            contentType:'application/json',
                            data:JSON.stringify(result),
                            success:function(){
                                mainArea.updateStuff();
                            },
                            error:function() {
                                console.log("konnte nicht senden: " + JSON.stringify(result));
                            }
                        });
                    }
                }
            });
            
            var login = new Vue({
                el: '#login',
                data: {
                    seen: false,
                    user: ""
                },
                methods: {
                    submitLogin: function() {
                        var user = document.getElementById("username").value;
                        var pass = document.getElementById("password").value;
                        this.user = user
                        topBar.user = user
                        
                        mainArea.seen = true;
                        login.seen = false;
                            
                        $.ajax({
                            url:'http://localhost:8080/qa',
                            type:'HEAD',
                            xhrFields: {
                                withCredentials:true
                            },
                            headers:{
                                "Authorization":"Basic " + btoa(user + ":" + pass)
                            },
                            success: function() {
                                mainArea.loggedIn = true
                                topBar.loggedIn = true
                                mainArea.updateStuff();
                            },
                            error: function(jqXHR, status, error) {
                                alert("Falsche Anmeldaten!")
                                location.reload()
                            }
                        })    
                    },
                    logout : function () {
                        $.ajax({
                            url: 'http://localhost:8080/logout',
                            type:'POST',
                            xhrFields: {
                                withCredentials:true
                            },
                            success: function() {
                                location.reload()
                            },
                            error: function(jqXHR, status, error) {
                                console.log("logout error!!")
                            }
                        })
                    }
                }
            });
            
            var registration = new Vue({
                el: '#registration',
                data: {
                    seen: false
                },
                methods: {
                    submitRegistration: function() {

                        var user = document.getElementById("newUsername").value;
                        var pass = document.getElementById("newPassword").value;
                        
                        var out = {"username": user, "password": pass};
                        mainArea.seen = true;
                        registration.seen = false;
                            $.ajax({
                                url:'http://localhost:8080/addUser',
                                type:'POST',
                                xhrFields: {
                                    withCredentials:true
                                },
                                contentType: 'application/json',
                                data:JSON.stringify(out),

                                success: function() {
                                    alert("Benutzer registriert! Zum fortfahren einloggen!")
                                },
                                error: function(jqXHR, status, error) {
                                    //TODO exact Code!
                                    alert("Benutzer existiert bereits!")
                                }
                            })
                    }
                }
            });
            
            var mainArea = new Vue({
                el: '#ThreadBereich',
                data: {
                    seen: true,
                    questions:[],
                    loggedIn : false
                },
                
                created: function() {
                    
                    $.ajax({
                        url:"http://localhost:8080/qa",
//                        url:"test.json",
                        dataType: 'json',
                        xhrFields: {
                                withCredentials:true
                            },
                        success: function(data,status){
                            mainArea.questions = data;
                        },
                        
                        error: function(){
                            console.log("error at first GET")
                        }
                    })
                },
                methods: {
                    updateStuff: function(data) {
                        $.ajax({
                            url:"http://localhost:8080/qa",
                            dataType: 'json',
                            xhrFields: {
                                    withCredentials:true
                                },
                            success: function(data,status){
                                mainArea.questions = data
                            },

                            error: function(jqXHR, status, errorThrown){
                                console.log(status + "updateStuff")
                            }
                        })
                    }
                }
            });
            
            var topBar = new Vue({
                el: "#obereLeiste",
                data: {
                    seen: true,
                    loggedIn : false,
                    user : ""
                },
                methods: {
                    doLogging: function () {
                        if (mainArea.loggedIn) {
                            login.logout();
                            return;
                        }
                        mainArea.seen = false;
                        login.seen = true;
                    },
                    newQuestion: function() {
                        mainArea.seen = false;
                        newQuestion.seen = true;
                    },
                    register: function() {
                        mainArea.seen = false;
                        registration.seen = true;
                    },
                    filterSelect: function(selected) {
                        switch(selected) {
                            case 0:
                                this.makeRequest("http://localhost:8080/qa");
                                break;
                            case 1:
                                this.makeRequest("http://localhost:8080/qa/myQuestions");
                                break;
                            case 2:
                                this.makeRequest("http://localhost:8080/qa/myAnswers");
                                break;
                            case 3:
                                this.makeRequest("http://localhost:8080/qa/unansweredQuestions");
                                break;
                            case 4:
                                this.makeRequest("http://localhost:8080/qa/unresolvedQuestions");
                                break;
                                       }
                    },
                    makeRequest: function(url) {                    
                        $.ajax({
                            url:url,
                            dataType: 'json',
                            success: function(data,status){
                                mainArea.questions = data;
                            },
                            error: function(jqXHR, status, errorThrown){
                                console.log("error: " + errorThrown)
                            }
                        })
                    }
                }
            });
        </script>
        
    </body>
</html>